header{
    margin:-10px -10px 10px;
    padding:50px;
    border-bottom:8px solid var(--orange);
    background:var(--dark);
    color:#f9f9f9;
    position: relative;
}
header .center{
    /* transition:transform 2s ease-in-out; */
    min-height:30vh;
    display:flex;
    flex-direction:column;
}
header.contactSection .mainCenter{
    transition:all 0.4s ease-in-out;
    opacity:0;
    pointer-events:none;
}
header.contactSection svg{
    display:none;
}
header .contact{
    animation:contactAnim 0.9s ease-in-out;
    display:none;
}
header .contact button{
    width: 50%;
    height: 36px;
    margin:0px !important;
}
.centerinCenter{
    max-width:600px;
}
.topHeaderDiv{
    position:relative;
}
.topHeaderDiv i{
    font-size: 394px;
    position: absolute;
    /*bottom: -267px;*/
    bottom:-60px;
    right: 55px;
    pointer-events: none;
    color: #c67a706b;
    animation:iAnim 5s ease-in-out infinite;
    display:none;
}
.musicnote{
    text-shadow:none !important;
    font-size:370px !important;
    color:var(--orange) !important;
    animation:iAnimNote 5s ease-in-out infinite !important;
}
header .pink{
    border:1px solid #f9f9f9 !important;
}
@keyframes iAnim{
    from{
        transform:translate(0px, 20px) scale(0.3) rotate(10deg) translate3d(0,0,0);
    }
    60%{
        transform:translate(0px, 0px) scale(0.3) rotate(9deg) translate3d(0,0,0);
     /*    opacity:0.8; */
    }
    to{
        transform:translate(0px, 20px) scale(0.3) rotate(10deg) translate3d(0,0,0);
    }
}
@keyframes iAnimNote{
    from{
        transform:translate(0px, 20px) scale(0.3) rotate(10deg) translate3d(0,0,0);
    }
    60%{
        transform:translate(0px, 0px) scale(0.3) rotate(5deg) translate3d(0,0,0);
     /*    opacity:0.8; */
    }
    to{
        transform:translate(0px, 20px) scale(0.3) rotate(10deg) translate3d(0,0,0);
    }
}
header form{display:flex;flex-direction:column;
    height: 300px;}
header .topPart{
    flex-grow:1;
}
header.contactSection .contact{
    display:block;
    position:absolute;
    left:0;
    right:0;
    padding:50px;
    top:0px;
    animation:contactAnim 0.9s ease-in-out;
}
.contactBut{
}
header.contactSection .center{
    min-height:90vh;
    justify-content: center;
    position: relative;
}
.contact textarea{
    width:100%;
    max-width:600px;
    min-height:90px;
    border:1px solid #f9f9f9;
    background:var(--dark);
    color:#f9f9f9;
    padding:10px;
    font-size:14px;
    resize:none;
}
header.contactSection .center h2{
    position: absolute;
    top: -4px;
    left: 6px;
    z-index:5;
    /* font-size: 32px; */
    color: var(--orange);
}
.input-field{position:relative;display:flex;max-width:600px;}
input[type="text"]{
    border:1px solid #f9f9f9;
    background:var(--dark);
    color:#f9f9f9;
    padding:10px;
    font-size:14px;
    margin-left:auto;
    flex-grow:1;
}
input[type="text"]:focus, textarea:focus{
    outline:none;
    border-color:var(--orange) !important;
}
label{
    margin-right:10px;
    font-size:13px;
    transform:translate(0px, 7px);
}
@keyframes contactAnim{
    0%{
        opacity:0;
        transform:translate(0px, 20px) translate3d(0,0,0);
    }
    70%{
        opacity:0;
        transform:translate(0px, 20px) translate3d(0,0,0);
    }
    100%{
        opacity:1;
        transform:translate(0px, 0px) translate3d(0,0,0);
    }
}
.center > div:first-child{
    flex-grow:1;
}
.center > div:last-child{
    margin-top:30px;
}
button{
    margin-right:10px;
    z-index:3;
}
header{
    position:relative;
    overflow:hidden;
}/* 
header:hover svg{
    transition:transform 1.2s ease-in-out;
    transform:scale(1.4);
} */
svg{
    transition:transform 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.1), opacity 0.3s ease-in-out;
    position:absolute;
    transform:translate3d(0,0,0);
    bottom:-50%;
    left:0;
    right:0;
    width:calc(100% + 20px);
    z-index:2;
    pointer-events:none;
    animation:svgAnimation 3.5s ease-in-out;
    opacity:0.4;
}

@keyframes svgAnimation{
    from{
        opacity:1 !important;
        transform:scale(2.5) translate3d(0,0,0);
    }
    to{
        opacity:0.4 !important;
        transform:scale(1) translate3d(0,0,0);
    }
}
#wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  .wave {
    animation: wave 12s linear;
    animation-iteration-count:infinite;
    fill: #c67a708c; /* 4478e3 */
  }
  @keyframes wave {
    to {transform: translateX(-100%) translate3d(0,0,0);}
  }
  @media screen and (max-width:1600px){
      svg{
          bottom:-30%;
      }
  }
  @media screen and (max-width:900px){
    svg{
        bottom:-20%;
    }
}
@media screen and (max-height:600px){
    .topHeaderDiv i{
        display:none !important;
    }
}
@media screen and (max-width:500px){
    button{
        display:block;
        width:100%;
        margin-bottom:10px;
    }
    header .contact button{
        width:100% !important;
        order:2;
    }
    header .contact button:last-child{
        order:1 !important;
    }
    header form{
        height:270px !important;
    }
}
h1{
    animation:honeAnimation 0.4s ease-in-out;
}
@keyframes honeAnimation{
    from{
        transform:translate(0px, 10px) translate3d(0,0,0);
        opacity:0;
    }
}
p{
    animation:pAnimation 3.0s ease-in-out;
}
@keyframes pAnimation{
    from{
        max-width:0px;
        overflow:hidden;
        height:20px;
        opacity:0;
        transform:translate(0px, 10px) translate3d(0,0,0);
    }
    to{
        max-width:970px;
        overflow:hidden;
        height:20px;
        opacity:1;
        transform:translate(0px, 0px) translate3d(0,0,0);
    }
}